apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: service-view-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
  - kind: ServiceAccount
    name: default
